header {
  background-color: #FFF; /* White background for the header */
  padding: 15px 0; /* Increased top and bottom padding for more white space */
  text-align: center; /* Center aligning the navigation */
  border-bottom: 1px solid #EEE; /* Subtle bottom border for a touch of sophistication */
}

nav button {
  background-color: #FFF; /* Keeps button background white */
  color: #333; /* Retains dark gray text for contrast */
  border: 1px solid #DDD; /* Thinner border for a finer look */
  padding: 10px 15px; /* Adjust padding for smaller buttons */
  margin: 0 10px; /* Slightly reduced margin between buttons */
  font-size: 16px; /* Smaller font size for a more compact appearance */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Sophisticated font choice remains */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  border-radius: 20px; /* Slightly reduced rounded corners for a refined look */
  transition: color 0.3s, border-color 0.3s; /* Smooth transition for hover effects maintained */
  min-width: 120px; /* Ensures all buttons have at least this width */
  display: inline-block; /* Allows setting a width on the button */
  text-align: center; /* Ensures text is centered within the button */
}

nav button:hover {
  color: #555; /* Darker gray on hover for subtle interaction feedback */
  border-color: #AAA; /* Darker border on hover for visual depth */
}

.pageload {
  display: flex; /* Use Flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-image: url('igor-rand-wfM1Fi-kMaY-unsplash.jpg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the full div */
  background-position: center; /* Center the background image */
  height: 75vh; /* Adjust the height as needed */
  color: white; /* Set text color to white for all text within the div */
}

.pageload h2 {
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold;
  /* Add any additional styling specific to the h2 element here */
}

.menupage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0;
  height: 100%;
}

.menupage .menuitems {
  background-color: rgba(255, 255, 255, 0.95); /* Light background for readability */
  padding: 20px; /* Padding for content inside */
  border-radius: 10px;
}

ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.menupicture {
  background-image: url('jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 75vh;
}

footer h5, footer h6 {
  margin-top: 5px; /* Reduces space above the elements */
  margin-bottom: 5px; /* Reduces space below the elements */
  /* Adjust the '5px' values as needed to achieve the desired spacing */
}

footer {
  text-align: center; /* Example to center the content in the footer */
  padding: 10px; /* Adds some padding around the footer content */
}
